<html>
<head>
<style>
  
  /* Add the github styles (likley to change!) */
  a {color: #4183C4; text-decoration: none;}
  body {font: 13.34px helvetica,arial,freesans,clean,sans-serif;}
  .wikistyle * {margin: 0;padding: 0;}
  
  .wikistyle{background-color:#f8f8f8;padding:.7em;}
  .wikistyle{border:1px solid #e9e9e9;}
  .wikistyle{border-top:none;}
  .wikistyle h1,.wikistyle h2,.wikistyle h3,.wikistyle h4,.wikistyle h5,.wikistyle h6{border:0!important;}
  .wikistyle h1{font-size:170%!important;border-top:4px solid #aaa!important;padding-top:.5em!important;margin-top:1.5em!important;}
  .wikistyle h1:first-child{margin-top:0!important;padding-top:.25em!important;border-top:none!important;}
  .wikistyle h2{font-size:150%!important;margin-top:1.5em!important;border-top:4px solid #e0e0e0!important;padding-top:.5em!important;}
  .wikistyle h3{margin-top:1em!important;}
  .wikistyle p{margin:1em 0!important;line-height:1.5em!important;}
  .wikistyle a.absent{color:#a00;}
  .wikistyle ul,#wiki-form .content-body ul{margin:1em 0 1em 2em!important;}
  .wikistyle ol,#wiki-form .content-body ol{margin:1em 0 1em 2em!important;}
  .wikistyle ul li,#wiki-form .content-body ul li,.wikistyle ol li,#wiki-form .content-body ol li{margin-top:.5em;margin-bottom:.5em;}
  .wikistyle ul ul,.wikistyle ul ol,.wikistyle ol ol,.wikistyle ol ul,#wiki-form .content-body ul ul,#wiki-form .content-body ul ol,#wiki-form .content-body ol ol,#wiki-form .content-body ol ul{margin-top:0!important;margin-bottom:0!important;}
  .wikistyle blockquote{margin:1em 0!important;border-left:5px solid #ddd!important;padding-left:.6em!important;color:#555!important;}
  .wikistyle dt{font-weight:bold!important;margin-left:1em!important;}
  .wikistyle dd{margin-left:2em!important;margin-bottom:1em!important;}
  .wikistyle table{margin:1em 0!important;}
  .wikistyle table th{border-bottom:1px solid #bbb!important;padding:.2em 1em!important;}
  .wikistyle table td{border-bottom:1px solid #ddd!important;padding:.2em 1em!important;}
  .wikistyle pre{margin:1em 0!important;font-size:12px!important;background-color:#f8f8ff!important;border:1px solid #dedede!important;padding:.5em!important;line-height:1.5em!important;color:#444!important;overflow:auto!important;}
  .wikistyle pre code{padding:0!important;font-size:12px!important;background-color:#f8f8ff!important;border:none!important;}
  .wikistyle code{font-size:12px!important;background-color:#f8f8ff!important;color:#444!important;padding:0 .2em!important;border:1px solid #dedede!important;}
  .wikistyle a code,.wikistyle a:link code,.wikistyle a:visited code{color:#4183c4!important;}
  .wikistyle img{max-width:100%;}
  .wikistyle pre.console{margin:1em 0!important;font-size:12px!important;background-color:black!important;padding:.5em!important;line-height:1.5em!important;color:white!important;}
  .wikistyle pre.console code{padding:0!important;font-size:12px!important;background-color:black!important;border:none!important;color:white!important;}
  .wikistyle pre.console span{color:#888!important;}
  .wikistyle pre.console span.command{color:yellow!important;}
  
  /* Others */
  .footer{font-size: 11px; text-align: right;}
  
</style>
</head>
<body>
  <div class="wikistyle">
    <%= @markdown_html %>
  </div>
  <div class="footer">Generated: <%=Time.now.to_s%></div>
</body>
</html>